body{
    background-color: lemonchiffon;
    font-family: Arial, sans-serif;
}

h1{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    }

input{
    margin-top: 20px;
}

button{
    margin-top: 20px;
}

.userInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listTemplate{
    margin-top: 30px;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listTemplate li{
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100px;
    text-align: center;
}