body{
    background-color: lemonchiffon;
    font-family: Arial, sans-serif;
}

h1{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    }

input{
    margin-top: 20px;
}

button{
    margin-top: 20px;
}

.userInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}